<div class="container">
    <% if notification.checked == false %>
        <% visitor = notification.visitor %>
        <% visited = notification.visited %>
        <div>
            <p>
             <%= link_to user_path(visitor) do %>
                 <%= visitor.name %>さん
             <% end %>
             <% if notification.action=='dm' %>
                が、あなたにDMを送りました。/
                You received DM from <%= link_to user_path(visitor) do %><%= visitor.name %><% end %>&nbsp;&nbsp;
                <%= link_to '既読にする',notification_path(notification.id),method: :put, class:"btn btn-outline-primary" %>
             <% end %>
             </p><br>
        </div>
    <% end %>
</div>