<div class="containar main">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h4 class="text-dark bg-light p-4 mb-0">Edit My Profile</h4>
       <div class="form-body p-4">
       
           <%= form_with model:@user, local:true do |f| %>
              <label for="inputName">Name</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"Name"%><br>
              <label for="inputImage">Profile Image</label>
              <%= attachment_image_tag @user, :profile_image, :fill, 200, 200, fallback: "no_image.jpg"%><br>
              <p class="image"><%= f.attachment_field :profile_image, placeholder: "Profile Photo" %></p>
              <label class="about">About me</label><br>
              <%= f.text_area :introduction, rows:7,cols:40, placeholder:"Introduction" %><br>
              <%= f.submit "Update my profile", class:"btn btn-outline-success update" %>
            <% end %>
       </div>
    </div>
  </div>
</div>

<style>
  .image {
    margin: 20px;
  }
  
  .main {
    text-align: center;
  }
  
  .update {
    margin-top: 20px;
  }
  
  .about {
    font-size: 20px;
    font-weight: bolder;
    color: green;
  }
</style>

