<% provide(:title, 'Users') %>

<div class="container">
  <h1>list of all users</h1>
  <div class="list">
    <% @users.each do |user| %>
      <div>
      
        <p id="name">Name：<%= link_to user.name, user_path(user) %></p>
        <p><span id="introduction">Introduction：</span><%= user.introduction %></p>
        <%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
           <span>&nbsp;&nbsp;&nbsp;
              <% if current_user != user %>
                <% if current_user.following?(user) %>
                  <%= link_to "Unfollow", user_relationships_path(user.id), method: :delete, class:"btn btn-outline-primary btn-sm" %>
                <% else %>
                  <%= link_to "Follow", user_relationships_path(user.id), method: :post, class:"btn btn-outline-primary btn-sm" %>
                <% end %>
              <% end %>
           </span> 
          <p id="follow" class="border-bottom" style="padding:10px;">Number of follows: <%= user.followings.count %> | Number of followers: <%= user.followers.count %></p>
       
      </div>
      
    
    <% end %>
  </div>
</div>

<style>
  #name {
    font-size: 25px;
  }
  
  #introduction {
    font-size: 20px;
    color: dark-grey;
  }
  h1 {
    margin-bottom: 30px;
    margin-top: 20px;
  }
  
  #follow {
    margin-top: 10px;
  }
  .list {
    margin: 30px;
  }
</style>