<% provide(:title, 'User Page') %>

<div class="container main">
  <div class="row">
    <div class="col-md-4" id="profile">
      <div class="profile-container">
        <h3 class="profile-name"><%= @user.name %></h3>

          <%= render 'info', user: @user %>

          <!--DM用-->
         
          <% unless @user.id == current_user.id %>
          <% if current_user != @user && current_user.following?(@user) && @user.following?(current_user) %>
         
              <% if @isRoom == true %>
                <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-outline-danger chat">Go to Chat Room/チャットルームに入る</a>
              <% else %>
                <%= form_for @room do |f| %>
                  <%= fields_for @entry do |e| %>
                    <%= e.hidden_field :user_id, value: @user.id %>
              <% end %>
                <%= f.submit "Start Chatting/チャットを開始する", class:"btn btn-outline-danger user-show-chat chat"%>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

      </div>
    </div>

    <div class="col-md-8", id="post">
      <div class="row">
        <% @posts.each do |post| %>
        <div>
          <div class="card">
            <div class="card-header">
                <%= link_to post_path(post.id) do %>
                  <h3>Title（タイトル）：<%= post.title %></h3>
                <% end %>
            </div>
            <div class="card-body">
              <h5 class="card-title">Contents of Activities（活動内容）：</h5><p><%= post.body %></p>
              
              <!--投稿画像-->
              <div class="post-partial">
                <div id="post-<%= post.id %>">
                  <div>
                    <% post.images.each do |image| %>
                      <%= image_tag(image, width:300) %>
                    <% end %>
                  </div>
                </div>
            </div>
              
              <p class="card-text">
                <p><span id="category">Category（カテゴリー）:</span>
                  <% post.categories.each do |category| %>
                  <%= category.name %>
                  <% end %>
                </p>
              </p>
               <p>Posted by（投稿者）<font size="4">&nbsp;<%= @user.name %></font>&nbsp;
                <span class="date">on <%= post.created_at.strftime('%Y/%m/%d') %></span>
               </p> 
            </div>
            </div>    
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<style>
  #post {
    text-align: center;
  
  }

  #profile {
    text-align: center;
  }

  .main {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .card {
    margin: 30px;
  }
  
  
  .chat {
     margin: 30px;
   }
  
  #category {
    font-size: 20px;
    font-weight: bold;
  }
</style>