<div class="container main">
  <div class="left-button">
    <%= link_to "Go back to List of Users", users_path, class:"btn btn-outline-danger go-back" %>
  </div>
  <h4 class="rooms-title">Private Chat Room of:</h4>
  <% @entries.each do |e| %>
    <div class="user-name">
    <strong>
        <!--ここにイメージタグアバター入れたい-->
        
        <a class="rooms-user-link" href="/users/<%= e.user.id %>">
          <%= e.user.name %>さん 
        </a>
    </strong>
    </div>
  <% end %>
  <hr>
  <div class="chats">
    <div class="chat">
      <% if @messages.present? %>
        <% @messages.each do |m| %>
          <div class="chat-box">
            <div class="chat-face">
             <!--ここにイメージタグアバター入れたい-->
  
            </div>
            <div class="chat-hukidashi"> <strong><%= m.content %></strong> <br>
              <%= m.created_at.strftime("%Y-%m-%d %H:%M")%>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="posts">
      <%= form_for @message do |f| %>
        <%= f.text_field :content, placeholder: "Put messages here" , size: 70, class:"form-text-field" %>
          <%= f.hidden_field :room_id, value: @room.id %>
            <%= f.submit "submit",class: 'form-submit'%>
      <% end %>
    </div>
  </div>
</div>

<style>
  .main {
    padding: 30px;
  }
  
  .go-back {
    margin-bottom: 20px;
  }
</style>