<div class="container">
  <div class="row">
      <div class="col">
          <%= link_to image_tag('E-WEB-Goal-01_s.png'), category1_path, class:"mx-auto d-block" %>
      </div>
      <div class="col">
          <%= link_to image_tag('E-WEB-Goal-02_s.png'), category2_path, class:"mx-auto d-block" %>
      </div>
      <div class="col">
         <%= link_to image_tag('E-WEB-Goal-03_s.png'), category3_path, class:"mx-auto d-block" %>
      </div>
       <div class="col">
         <%= link_to image_tag('E-WEB-Goal-04_s.png'), category4_path, class:"mx-auto d-block" %>
       </div>
       <div class="col">
        <%= link_to image_tag('E-WEB-Goal-05_s.png'), category5_path, class:"mx-auto d-block" %>
      </div>
        <div class="col">
           <%= link_to image_tag('E-WEB-Goal-06_s.png'), category6_path, class:"mx-auto d-block" %>
        </div>
        <!--<div class="w-100"></div>-->
       <div class="col">
         <%= link_to image_tag('E-WEB-Goal-07_s.png'), category7_path, class:"mx-auto d-block" %>
       </div>
       <div class="col">
        <%= link_to image_tag('E-WEB-Goal-08_s.png'), category8_path, class:"mx-auto d-block" %>
      </div>
       <div class="col">
         <%= link_to image_tag('E-WEB-Goal-09_s.png'), category9_path, class:"mx-auto d-block" %>
      </div>
       <div class="col">
          <%= link_to image_tag('E-WEB-Goal-10_s.png'), category10_path, class:"mx-auto d-block" %>
      </div>
      <div class="col">
          <%= link_to image_tag('E-WEB-Goal-11_s.png'), category11_path, class:"mx-auto d-block" %>
      </div>
       <div class="col">
          <%= link_to image_tag('E-WEB-Goal-12_s.png'), category12_path, class:"mx-auto d-block" %>
      </div>
      <!--<div class="w-100"></div>-->
       <div class="col">
          <%= link_to image_tag('E-WEB-Goal-13_s.png'), category13_path, class:"mx-auto d-block" %>
      </div>
       <div class="col">
         <%= link_to image_tag('E-WEB-Goal-14_s.png'), category14_path, class:"mx-auto d-block" %>
      </div>
       <div class="col">
         <%= link_to image_tag('E-WEB-Goal-15_s.png'), category15_path, class:"mx-auto d-block" %>
      </div>
       <div class="col">
         <%= link_to image_tag('E-WEB-Goal-16_s.png'), category16_path, class:"mx-auto d-block" %>
      </div>
       <div class="col">
         <%= link_to image_tag('E-WEB-Goal-17_s.png'), category17_path, class:"mx-auto d-block" %>
      </div>
      <div class="col">

      </div>
  </div>
</div>