<div class="container">
  <div class="row no-gutters">
      <div class="col-md">
          <%= link_to image_tag('E-WEB-Goal-01.png'), category1_path, class:"mx-auto d-block" %>
      </div>
      <div class="col-md">
          <%= link_to image_tag('E-WEB-Goal-02.png'), category2_path, class:"mx-auto d-block" %>
      </div>
      <div class="col-md">
         <%= link_to image_tag('E-WEB-Goal-03.png'), category3_path, class:"mx-auto d-block" %>
      </div>
       <div class="col-md">
         <%= link_to image_tag('E-WEB-Goal-04.png'), category4_path, class:"mx-auto d-block" %>
       </div>
       <div class="col-md">
        <%= link_to image_tag('E-WEB-Goal-05.png'), category5_path, class:"mx-auto d-block" %>
      </div>
        <div class="col-md">
           <%= link_to image_tag('E-WEB-Goal-06.png'), category6_path, class:"mx-auto d-block" %>
        </div>
        <div class="w-100"></div>
       <div class="col-md">
         <%= link_to image_tag('E-WEB-Goal-07.png'), category7_path, class:"mx-auto d-block" %>
       </div>
       <div class="col-md">
        <%= link_to image_tag('E-WEB-Goal-08.png'), category8_path, class:"mx-auto d-block" %>
      </div>
       <div class="col-md">
         <%= link_to image_tag('E-WEB-Goal-09.png'), category9_path, class:"mx-auto d-block" %>
      </div>
       <div class="col-md">
          <%= link_to image_tag('E-WEB-Goal-10.png'), category10_path, class:"mx-auto d-block" %>
      </div>
      <div class="col-md">
          <%= link_to image_tag('E-WEB-Goal-11.png'), category11_path, class:"mx-auto d-block" %>
      </div>
       <div class="col">
          <%= link_to image_tag('E-WEB-Goal-12.png'), category12_path, class:"mx-auto d-block" %>
      </div>
      <div class="w-100"></div>
       <div class="col-md">
          <%= link_to image_tag('E-WEB-Goal-13.png'), category13_path, class:"mx-auto d-block" %>
      </div>
       <div class="col-md">
         <%= link_to image_tag('E-WEB-Goal-14.png'), category14_path, class:"mx-auto d-block" %>
      </div>
       <div class="col-md">
         <%= link_to image_tag('E-WEB-Goal-15.png'), category15_path, class:"mx-auto d-block" %>
      </div>
       <div class="col-md">
         <%= link_to image_tag('E-WEB-Goal-16.png'), category16_path, class:"mx-auto d-block" %>
      </div>
       <div class="col-md">
         <%= link_to image_tag('E-WEB-Goal-17.png'), category17_path, class:"mx-auto d-block" %>
      </div>
      <div class="col-md">

      </div>
  </div>
</div>