<% provide(:title, 'New Post') %>

<div class="containar">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h4 class="text-dark bg-light p-4 mb-0 heading">New Post/新規投稿</h4>
       <div class="form-body p-4">
        <%= render 'posts/error', post: @post %>
          <%= form_with model: @post, local:true do |f| %>
            <p><%= f.label :title, 'Title（タイトル）', class:"label" %></p>
            <%= f.text_field :title, class:"form-control" %>
            <p><%= f.label :body,'Contents of Activity（活動内容）', class:"label" %></p>
            <%= f.text_area :body, class:"form-control" %>
            <p><%= f.label :hashbody, 'Hashtags: please put "#" before each word./タグ: 各単語の前に"#" を付けてください。）', class:"label" %></p>
            <%= f.text_area :hashbody, size:"55x3", class:"form-control" %>


            <p><%= f.label :category, 'Category（カテゴリー）', class:"label" %></p>
            <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %>
              <%= category.label do %>
                <%= category.check_box %>
                <%= category.text %>
              <% end %>
            <% end %>
           <br>
            <p><%= f.label :images, 'Photo(s)/画像は同時に複数投稿することができます。', class:"label" %></p>
            <%= f.file_field :images, multiple: true, class:"form-control" %>
            <p><%= f.submit 'Create New Post（投稿する）', class:"btn btn-lg btn-block btn-info mt-4" %></p>
          <% end %>
       </div>
    </div>
  </div>
</div>

<style>
  .heading {
    text-align: center;
  }
  .label {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }
</style>