<% provide(:title, 'New Post') %>

<div class="containar">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">New Post</h5>
       <div class="form-body p-4">
        <%= render 'posts/error', post: @post %>
          <%= form_with model: @post, local:true do |f| %>
            <%= f.label :title, 'Title' %><br>
            <%= f.text_field :title, class:"form-control" %>
            <%= f.label :body,'Contents of Activity' %><br>
            <%= f.text_area :body, class:"form-control" %>
           
            <%= f.label :category, 'Category' %><br>
            <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %> 
              <%= category.label do %>
                <%= category.check_box %>
                <%= category.text %>
              <% end %>
            <% end %>
           <br>
            <%= f.label :image, 'Photo' %>
            <%= f.attachment_field :image, class:"form-control" %><br>
            <%= f.submit 'Create New Post', class:"btn btn-lg btn-block btn-info mt-4" %>
          <% end %>
       </div>
    </div>
  </div>
</div>
