<div class="container">
  <div class="post-body">
    <%= attachment_image_tag @post, :image, format: 'jpeg', size: "300x300" %>
    <p>Title：<%= @post.title %></p>
    <p>Category: 
      <% @post.categories.each do |category| %>
      <%= link_to category.name, category_path(category) %>
      <% end %>
    </p>
    <p>Contents of Activities：<%= @post.body %></p>
    <p>Posted by：<%= @post.user.name %></p>
     <%= attachment_image_tag @post.user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
    <p>Posted on：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
    <% if @post.user == current_user %>
      <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: 'Are you sure？' }, class: 'btn-sm btn-danger' %>
    <% end %>
  </div>
  
   <% if @post.favorited_by?(current_user) %>
    <p>
      <%= link_to post_favorites_path(@post), method: :delete do %>
        ♥<%= @post.favorites.count %> Likes
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_favorites_path(@post), method: :post do %>
        ♡<%= @post.favorites.count %> Likes
      <% end %>
    </p>
  <% end %>
  
  <div class="comments">
<p>Comments：<%= @post.post_comments.count %></p>
<% @post.post_comments.each do |post_comment| %>

  <%= post_comment.user.name %>
  <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
  
  <% if post_comment.user == current_user %>
    <div class="comment-delete">
      <%= link_to "Delete comment", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
    </div>
  <% end %>
<% end %>
</div>
<div class="new-comment">
<%= form_with(model:[@post, @post_comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "write comments here" %>
  <%= f.submit "Post a comment" %>
<% end %>
</div>
</div>